.table-common-result {
  @apply grid grid-cols-2 gap-[30px_29px];
  @apply tablet-lg:gap-[20px];
  @apply mobile:grid-cols-1 mobile:gap-[20px];
}

.table-common-result--sale {
  @apply desktop:grid-cols-2 desktop:gap-[30px_29px];
}

.table-common-result--rent {
  @apply desktop:grid-cols-4 desktop:gap-[15px_30px];
  @apply tablet-lg:grid-cols-2 tablet-lg:gap-[20px];
}