.custom-scroll {
  /* scrollbar-width: none; */
  /* Firefox */
  /* -ms-overflow-style: none; */
  /* IE và Edge */
}

.custom-scroll::-webkit-scrollbar {
  /* display: none; */
  /* Chrome, Safari */
}

.article-common-contact__container {
  @apply md:mt-4 lg:sticky lg:top-[130px];
}

.article-common-contact__wrapper {
  @apply rounded-[10px] border border-portal-gray-border desktop:p-[42px] shadow-soft;
  @apply mobile:p-[20px_24px];
}

.article-common-contact__wrapper-title {
  @apply text-center text-[25px] leading-[calc(29/25)] font-bold text-portal-primaryLiving mb-[24px];
  @apply mobile:text-[20px] mobile:leading-[calc(24/20)];
}

.article-common-contact__wrapper-note {
  @apply px-[10px] mb-4;
  @apply mobile:px-0;
}

.article-common-contact__wrapper-note-item {
  @apply text-lg leading-1.3 relative before:content-['•'] before:mr-[12px];
  @apply mobile:text-sm;
}

.article-common-contact__container .ant-form-item-control-input {
  @apply min-h-[40px];
}

.article-common-contact__container .ant-form-item-control-input input {
  @apply h-[40px] text-xl rounded-[5px] border border-portal-gray-border bg-[#FBFBFB] p-[5px_14px_6px];
  @apply mobile:text-sm;
}

.article-common-contact__checkbox-label {
  @apply font-mona text-portal-gray-7 text-base leading-[calc(25/16)];
  @apply mobile:text-sm leading-[calc(24/14)];
}

.article-common-contact__checkbox-link {
  @apply underline font-medium
}

.article-common-contact__checkbox {
  @apply mr-[10px] h-[23px] w-[23px] bg-[#F6F6F6] border-[#CDCDCD] cursor-pointer accent-primary focus:ring-0 focus:ring-offset-0 flex-[0_0_auto];
}

.article-common-contact__wrapper-line {
  @apply flex items-center my-4;
}

.article-common-contact__wrapper-line > div {
  @apply flex-1 border-t border-portal-gray-border;
}

.article-common-contact__wrapper-line > span {
  @apply px-3 text-xl leading-[calc(29/20)];
}

.article-common-contact__social {
  @apply flex gap-[27px] pt-1;
}

.article-common-contact__social > a {
  @apply flex items-center w-1/2 gap-2 rounded-md border border-gray-300 px-4 py-2 shadow-sm hover:bg-gray-50 transition;
  @apply mobile:block;
}

.article-common-contact__social-icon {
  @apply block w-[47px] h-[47px] bg-center bg-no-repeat bg-cover flex-shrink-0;
  @apply mobile:w-[30px] h-[30px];
}

.article-common-contact__social-icon-title {
  @apply text-xl leading-[calc(29/20)];
  @apply mobile:text-sm leading-[calc(24/14)];
}

.article-common-contact__social-icon-phone {
  @apply text-xl leading-[calc(29/20)] text-portal-primaryLiving font-semibold;
  @apply mobile:text-sm leading-[calc(24/14)];
}
