.ant-table.ant-table-middle .ant-table-tbody > tr:not(.ant-table-measure-row) > td {
  padding: 12px 16px !important;
}

.ant-table {
  border: 1px solid #dee3ed;
}

.table-padding-2 {
  .ant-table.ant-table-middle .ant-table-tbody > tr:not(.ant-table-measure-row) > td {
    padding: 6px 6px !important;
  }
}

/* PAGINATION */
.ant-pagination {
  display: flex;

  .ant-pagination-total-text {
    margin-right: auto;
  }

  .ant-pagination-item:hover {
    border-radius: 100px;
  }

  .ant-pagination-item-active {
    a {
      color: white;
    }

    font-weight: 400;
    background-color: #ffd14b;
    border-radius: 100px;
    border: none;
  }

  .ant-pagination-item-active:hover {
    a {
      color: white;
    }

    font-size: 15px;
    border: none;
  }
}
