.section-home-hero {
  @apply bg-[#f5f5f5];
  @apply md:mb-[90px];
  @apply tablet-lg:p-[30px_0_100px] tablet-lg:mb-[60px];
  @apply mobile:p-[20px_0_60px] mobile:mb-[40px];
}

.section-home-hero .container {
  @apply flex gap-[31px] items-start;
  @apply tablet-lg:flex-col-reverse tablet-lg:gap-[50px];
  @apply mobile:flex-col-reverse mobile:gap-[30px];
}

.section-home-hero__wrapper {
  @apply pt-[67px] pb-[85px] flex-1;
  @apply tablet-lg:w-[100%] tablet-lg:flex-initial tablet-lg:pt-[0px] tablet-lg:pb-[0px];
  @apply mobile:w-[100%] mobile:flex-initial mobile:pt-[0px] mobile:pb-[0px];
}

.section-home-hero__title {
  @apply mb-[31px] block text-[30px] leading-[calc(35/30)] font-[600] text-[#000];
  @apply tablet-lg:mb-[30px] tablet-lg:text-[24px] tablet-lg:leading-[calc(30/24)] tablet-lg:text-center;
  @apply mobile:mb-[20px] mobile:text-[20px] mobile:leading-[calc(30/20)] mobile:text-center;
}

.section-home-hero__visual {
  @apply w-[calc(483/1420*100%)] mb-[-74px] pt-[30px] flex-grow-0 flex-shrink-0 relative;
  @apply tablet-lg:w-[100%] tablet-lg:mb-[0px] tablet-lg:pt-[0px];
  @apply mobile:w-[100%] mobile:mb-[0px] mobile:pt-[0px];
}

.section-home-hero__visual .button-common-core {
  @apply w-[calc(100%-60px)] max-w-[152px] mx-[auto] absolute right-[0px] bottom-[19px] left-[0px] z-[1];
}

.section-home-hero__visual-wrapper {
  @apply pt-[calc(502/483*100%)] relative z-0 rounded-[10px] overflow-hidden;
}

.section-home-hero__visual-wrapper img {
  @apply w-[100%] h-[100%] absolute inset-0 object-cover;
}