.section-home-hero {
  @apply bg-[#f5f5f5];
}

.section-home-hero .container {
  @apply flex gap-[31px] items-start;
}

.section-home-hero__wrapper {
  @apply pt-[67px] pb-[85px] flex-1;
}

.section-home-hero__title {
  @apply mb-[31px] block text-[30px] leading-[calc(35/30)] font-[600] text-[#000];
}

.section-home-hero__visual {
  @apply w-[calc(483/1420*100%)] mb-[-74px] pt-[30px] flex-grow-0 flex-shrink-0 relative;
}

.section-home-hero__visual .button-common-core {
  @apply w-[calc(100%-60px)] max-w-[152px] mx-[auto] absolute right-[0px] bottom-[19px] left-[0px] z-[1];
}

.section-home-hero__visual-wrapper {
  @apply pt-[calc(502/483*100%)] relative z-0 rounded-[10px] overflow-hidden;
}

.section-home-hero__visual-wrapper img {
  @apply w-[100%] h-[100%] absolute inset-0 object-cover;
}