.ant-popover:has(.popup-common-searchadvanced) .ant-popover-inner {
  @apply !w-[452px] !p-[20px_25px_25px];
  @apply tablet-lg:!w-[100%] tablet-lg:!p-[19px];
  @apply mobile:!w-[100%] mobile:!p-[19px];
}

.ant-popover:has(.popup-common-searchadvanced) .ant-popconfirm-buttons {
  @apply !mt-[27px];
}

.popup-common-searchadvanced {
  @apply max-h-[640px] p-[0px] overflow-y-auto;
}

.popup-common-searchadvanced .form-common-listing__entry--stacked:nth-child(1),
.popup-common-searchadvanced .form-common-listing__entry--stacked:nth-child(2),
.popup-common-searchadvanced .form-common-listing__entry--stacked:nth-child(3) {
  @apply !border-b-[0px] !pb-[0px];
}

.popup-common-searchadvanced__controller {
  @apply mt-[20px] flex justify-end gap-[10px];
}