.form-home-search {
  @apply min-h-[205px] p-[30px_28px] bg-[#fff] rounded-[10px] border border-[#e9e9e9] shadow-[0_4px_4px_rgba(0,0,0,0.25)];
  @apply tablet-lg:p-[20px];
  @apply mobile:p-[20px];
}

.form-home-search__inner--desktop {
  @apply mobile:hidden;
}

.form-home-search__inner--mobile {
  @apply desktop:hidden;
}

.form-home-search__filter {
  @apply mb-[26px] flex items-center;
  @apply tablet-lg:max-w-[620px] tablet-lg:mx-[auto];
}

.form-home-search__filter-wrapper {
  @apply ml-[14px] py-[11px] pl-[19px] border-l-[1px] border-l-[#cecece] relative flex justify-between gap-[15px] flex-1;
  @apply tablet-lg:ml-[15px] tablet-lg:py-[10px] tablet-lg:pl-[14px];
}

.form-home-search__filter-reset {
  @apply text-[16px] leading-[calc(25/16)] font-[600] underline cursor-pointer;
  @apply tablet-lg:text-[14px] tablet-lg:leading-[calc(25/14)];
  @apply mobile:text-[14px] mobile:leading-[calc(25/14)];
  text-decoration-color: #666;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}

.form-home-search__filter-field .ant-input-affix-wrapper {
  @apply !p-[2px_2px_2px_14px] !border-[#d9d9d9] !rounded-[5px];
}

.form-home-search__filter-field .button-common-core {
  @apply w-[135px];
}

.select-home-salerent {
  @apply w-[166px] min-h-[45px] p-[3px] rounded-[22.5px] border-[1px] border-[#cecece] bg-[#f5f5f5] flex flex-grow-0 flex-shrink-0 gap-[14px] text-[18px] leading-[calc(25/18)] font-[600] text-center;
  @apply tablet-lg:w-[150px] tablet-lg:gap-[10px] tablet-lg:text-[16px] tablet-lg:leading-[calc(25/16)];
  @apply mobile:w-[150px] mobile:gap-[10px] mobile:mx-[auto] mobile:text-[16px] mobile:leading-[calc(25/16)];
}

.select-home-salerent__option {
  @apply w-[50%] py-[5px] rounded-[18.5px] border-[1px] border-[#f5f5f5] bg-[#f5f5f5] text-[#444] cursor-pointer transition-[border_background_color] duration-300 ease-in-out;
}

.select-home-salerent__option.is-state-active {
  @apply border-[#982220] bg-[#982220] text-[#fff];
}

.toggle-home-search {
  @apply flex text-[16px] leading-[calc(25/16)] font-[600] cursor-pointer;
  @apply tablet-lg:text-[14px] tablet-lg:leading-[calc(25/14)];
  @apply mobile:text-[14px] mobile:leading-[calc(25/14)];
}

.toggle-home-search__wrapper {
  @apply relative;
}

.toggle-home-search__icon {
  @apply w-[12px] h-[25px] ml-[6px] relative bg-[length:100%_auto] bg-[position:50%_50%] bg-no-repeat flex-grow-0 flex-shrink-0;
}

/* 
.home-real-estate-search-form {
  :global {
    .search-form {
      .ant-form-item-label {
        font-weight: bold;
      }
    }

    .scrollbar-hidden::-webkit-scrollbar {
      display: none;
    }
  }
} */
