.form-home-search {
  @apply min-h-[205px] p-[30px_28px_57px] bg-[#fff] rounded-[10px] border border-[#e9e9e9] shadow-[0_4px_4px_rgba(0,0,0,0.25)];
}

.form-home-search__filter {
  @apply mb-[26px] flex items-center;
}

.form-home-search__filter-wrapper {
  @apply ml-[14px] pl-[19px] border-l-[1px] border-l-[#cecece] flex-1;
}

.form-home-search__filter-wrapper {
  @apply  relative;
}

.select-home-salerent {
  @apply w-[166px] min-h-[45px] p-[3px] rounded-[22.5px] border-[1px] border-[#cecece] bg-[#f5f5f5] flex flex-grow-0 flex-shrink-0 gap-[14px] text-[18px] leading-[calc(25/18)] font-[600] text-center;
}

.select-home-salerent__option {
  @apply w-[50%] py-[5px] rounded-[18.5px] border-[1px] border-[#f5f5f5] bg-[#f5f5f5] text-[#444] cursor-pointer transition-[border_background_color] duration-300 ease-in-out;
}

.select-home-salerent__option.is-state-active {
  @apply border-[#982220] bg-[#982220] text-[#fff];
}

.toggle-home-search {
  @apply flex text-[16px] leading-[calc(25/16)] font-[600] cursor-pointer;
}

.toggle-home-search__wrapper {
  @apply relative;
}

.toggle-home-search__icon {
  @apply w-[12px] h-[25px] ml-[6px] relative bg-[length:100%_auto] bg-[position:50%_50%] bg-no-repeat flex-grow-0 flex-shrink-0;
}

/* 
.home-real-estate-search-form {
  :global {
    .search-form {
      .ant-form-item-label {
        font-weight: bold;
      }
    }

    .scrollbar-hidden::-webkit-scrollbar {
      display: none;
    }
  }
} */
