.button-common-core {
  @apply w-[100%] max-w-[160px] min-h-[39px] p-[4px_20px] rounded-[5px] border border-portal-primaryLiving bg-portal-primaryLiving flex items-center justify-center font-semibold text-white hover:bg-opacity-70 transition-all duration-300 ease-in-out;
}

.button-common-core--primary-disabled {
  @apply bg-opacity-50;
}

.button-common-core--secondary,
.button-common-core--secondary-reversed {
  @apply border-[#b2b2b2] text-[20px] leading-[calc(29/20)];
  @apply tablet-lg:text-[18px] tablet-lg:leading-[calc(24/18)];
  @apply mobile:text-[16px] mobile:leading-[calc(24/16)];
}

.button-common-core--secondary {
  @apply text-[#fff];
}

.button-common-core--secondary-reversed {
  @apply bg-[#fff] text-portal-primaryLiving;
}

.button-common-core--neutral {
  @apply border-[1px] border-[#b2b2b2] bg-[#b2b2b2];
}

.button-common-core--more {
  @apply max-w-[291px] min-h-[40px] border-[1px] border-[#b2b2b2] bg-white text-[20px] leading-[calc(29/20)] text-portal-primaryLiving hover:bg-[#f6cac9];
}

.button-common-core__icon {
  @apply w-[24px] h-[29px] mr-[-12px] ml-[8px] block flex-[0_0_auto] bg-[length:100%_auto] bg-[position:50%_50%] bg-no-repeat;
}

.button-common-core__icon--search {
  @apply bg-[length:17px_auto];
}

.button-common-core__icon--directing {
  @apply w-[27px] mr-[-13.5px] ml-[1px] bg-[length:100%_auto];
}