.card-common-listing {
  @apply h-full flex flex-col p-[21px_18.5px_28px] bg-white border-[1px] border-[#d9d9d9] rounded-[10px] font-mona cursor-pointer;
  @apply tablet-lg:p-[19px];
  @apply mobile:p-[19px];
}

.card-common-listing__visual {
  @apply mb-[17px] relative;
  @apply tablet-lg:mb-[15px];
  @apply mobile:mb-[15px];
}

.card-common-listing__visual-status {
  @apply overflow-hidden max-w-[calc(100%-22px)] max-h-[calc(100%-18px)] p-[3px_8px] bg-[#982220] rounded-[3px] absolute top-[9px] left-[11px] z-[1] text-sm leading-[calc(19/14)] font-semibold text-white;
  @apply tablet-lg:max-w-[calc(100%-20px)] tablet-lg:max-h-[calc(100%-20px)] tablet-lg:p-[3px_6px] tablet-lg:top-[10px] tablet-lg:left-[10px];
  @apply mobile:max-w-[calc(100%-20px)] mobile:max-h-[calc(100%-20px)] mobile:p-[3px_6px] mobile:top-[10px] mobile:left-[10px];
} 

.card-common-listing__visual-wrapper {
  @apply pt-[calc(271/415*100%)] rounded-[5px] block relative z-0 overflow-hidden;
}

.card-common-listing__visual-wrapper img {
  @apply w-[100%] h-[100%] absolute inset-0 object-cover;
}

.card-common-listing__title {
  @apply mb-[11px] text-lg leading-[calc(25/18)] font-semibold text-[#444] line-clamp-2;
  @apply tablet-lg:mb-[10px] tablet-lg:text-base tablet-lg:leading-[calc(24/16)];
  @apply mobile:mb-[10px] mobile:text-base mobile:leading-[calc(24/16)];
}

.card-common-listing__info {
  @apply flex flex-col gap-[13px] text-base leading-[calc(24/16)] text-[#444];
  @apply tablet-lg:gap-[10px] tablet-lg:text-sm tablet-lg:leading-[calc(24/14)];
  @apply mobile:gap-[10px] mobile:text-sm mobile:leading-[calc(24/14)];
}

.card-common-listing__entry-label {
  @apply block text-[#9a9a9a];
}

.card-common-listing__controller {
  @apply mt-[27px] flex justify-center flex-wrap;
  @apply tablet-lg:mt-[20px];
  @apply mobile:mt-[15px];
}

.card-common-listing__wrapper {
  @apply flex flex-col justify-between flex-1;
}

.card-common-listing--rent {
  @apply p-[21px_18px_18px];
  @apply tablet-lg:p-[19px];
  @apply mobile:p-[19px];
}

.card-common-listing--rent .card-common-listing__visual {
  @apply mb-[14px];
  @apply tablet-lg:mb-[15px];
  @apply mobile:mb-[15px];
}

.card-common-listing--rent .card-common-listing__price {
  @apply mb-[5px];
  @apply tablet-lg:mb-[10px];
  @apply mobile:mb-[10px];
}

.card-common-listing--rent .card-common-listing__price-main {
  @apply text-lg leading-[calc(24/18)] font-semibold;
  @apply laptop-md:text-base laptop-md:leading-[calc(24/16)];
  @apply laptop-sm:text-lg laptop-sm:leading-[calc(24/18)];
  @apply mobile:text-base mobile:leading-[calc(24/16)];
}

.card-common-listing--rent .card-common-listing__price-original {
  @apply ml-[15px] text-base leading-[calc(24/16)] line-through text-[#982220];
  @apply laptop-md:ml-[10px] laptop-md:text-sm laptop-md:leading-[calc(24/14)];
  @apply laptop-sm:ml-[15px] laptop-sm:text-base;
  @apply mobile:text-sm mobile:leading-[calc(24/14)];
}

.card-common-listing--rent .card-common-listing__detail {
  @apply mt-[12px] text-base leading-[calc(24/16)];
  @apply tablet-lg:mt-[10px] tablet-lg:text-sm tablet-lg:leading-[calc(24/14)];
  @apply mobile:mt-[10px] mobile:text-sm mobile:leading-[calc(24/14)];
}

.list-common-properties {
  @apply flex flex-wrap gap-[10px_47px] text-base leading-[calc(24/16)];
  @apply tablet-lg:gap-[10px_30px] tablet-lg:text-sm tablet-lg:leading-[calc(24/14)];
  @apply mobile:gap-[10px_30px] mobile:text-sm mobile:leading-[calc(24/14)];
}

.list-common-properties__item {
  @apply flex items-start;
}

.list-common-properties__item-icon {
  @apply h-[24px] mr-[6px] bg-[length:100%_auto] bg-[position:50%_50%] bg-no-repeat flex-grow-0 flex-shrink-0;
  @apply tablet-lg:mr-[5px];
  @apply mobile:mr-[5px];
}

.list-common-properties__item-icon--bedroom {
  @apply w-[15px] bg-[url(../../assets/images/common/icon_properties_01.svg)];
}

.list-common-properties__item-icon--bathroom {
  @apply w-[22px] bg-[url(../../assets/images/common/icon_properties_02.svg)];
}

.list-common-properties__item-icon--area {
  @apply w-[27px] bg-[url(../../assets/images/common/icon_properties_03.svg)];
}