.ant-btn.ant-btn-lg {
  border-radius: 3px !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #404040 !important;
  border-color: #404040 !important;
}
.ant-checkbox .ant-checkbox-inner {
  border-radius: 0px !important;
}
.ant-checkbox-disabled + span {
  color: black;
}
.ant-checkbox-disabled .ant-checkbox-inner:after {
  border-color: white;
}

.ant-switch {
  margin-right: 20px !important;
}
.ant-switch.ant-switch-checked {
  background-color: #769933 !important;
}

.ant-btn.ant-btn-lg {
  border-radius: 3px !important;
}
