.home-filter {
  .ant-slider-handle {
    z-index: 1;
  }

  .ant-slider {
    margin: 0;
  }

  .left {
    width: fit-content;
    text-align: center;
    z-index: 0;
  }

  .right {
    text-align: center;
    width: fit-content;
    z-index: 0;
  }

  div.slider-mark {
    width: fit-content;
    padding: 1px 3px;
    white-space: nowrap;
    font-size: smaller;

    &.shift-left-v2 {
      min-width: 75px;
      border-radius: 4px;
    }

    &.shift-right-v2 {
      min-width: 75px;
      border-radius: 4px;
    }

    // &.shift-left-v2:before {
    //   content: '';
    //   border-left: 6px solid #FFD14B;
    //   border-top: 6px solid transparent;
    //   border-bottom: 6px solid transparent;
    //   right: -7%;
    //   position: absolute;
    //   transform: translateY(50%);
    // }

    // &.shift-right-v2:before {
    //   content: '';
    //   border-right: 5px solid #FFD14B;
    //   border-top: 5px solid transparent;
    //   border-bottom: 5px solid transparent;
    //   left: -7%;
    //   position: absolute;
    //   transform: translateY(50%);
    // }
    .ant-slider-mark-text {
      margin-top: -20px;
    }
  }
}
