.popup-common-searchprice {
  @apply w-[325px] p-[22px_13px_18px] bg-[#fbf8f8] rounded-[10px] border border-[#d9d9d9] shadow-[0_4px_4px_rgba(0,0,0,0.25)] font-mona;
  @apply mobile:w-[100%];
}

.popup-common-searchprice__range {
  @apply px-[10px];
}

.popup-common-searchprice__range .range-common {
  @apply !m-[14px_7px_31px];
}

.popup-common-searchprice__range .ant-slider-step {
  @apply !w-[calc(100%+(7px*2))] !mx-[calc(-7px)];
}

.popup-common-searchprice__range .range-common__value.range-common__value--start {
  @apply !justify-start;
}

.popup-common-searchprice__range .range-common__value.range-common__value--end {
  @apply !hidden;
}

.popup-common-searchprice__range-label {
  @apply grid grid-cols-2 gap-[26px];
}

.popup-common-searchprice__label-field {
  @apply min-h-[40px] p-[7px_10px] bg-[#fff] border-[1px] border-[#d9d9d9] rounded-[5px] text-[16px] leading-[calc(24/16)];
}

.popup-common-searchprice__menu {
  @apply max-h-[315px] overflow-y-auto;
}

.popup-common-searchprice__menu .ant-dropdown-menu {
  @apply !p-[0] !bg-transparent !border-none;
}

.popup-common-searchprice__menu .ant-dropdown-menu-item {
  @apply !p-[5px_10px] !text-[16px] !leading-[calc(25/16)];
}

.popup-common-searchprice__controller {
  @apply mt-[11px] flex justify-end gap-[10px];
}