.popup-common-searchprice {
  @apply w-[325px] p-[22px_23px_18px] bg-[#fbf8f8] rounded-[10px] border border-[#d9d9d9] shadow-[0_4px_4px_rgba(0,0,0,0.25)] font-mona;
  @apply tablet-lg:p-[19px];
  @apply mobile:w-[100%] mobile:p-[19px];
}

.popup-common-searchprice__range .range-common {
  @apply !m-[14px_7px_31px];
  @apply tablet-lg:!m-[10px_7px_30px];
  @apply mobile:!m-[10px_7px_30px];
}

.popup-common-searchprice__range .ant-slider-step {
  @apply !w-[calc(100%+(7px*2))] !mx-[calc(-7px)];
}

.popup-common-searchprice__range .range-common__value.range-common__value--start {
  @apply !justify-start;
}

.popup-common-searchprice__range .range-common__value.range-common__value--end {
  @apply !hidden;
}

.popup-common-searchprice__range-label {
  @apply grid grid-cols-2 gap-[26px];
  @apply tablet-lg:gap-[20px];
  @apply mobile:gap-[20px];
}

.popup-common-searchprice__label-field {
  @apply min-h-[40px] p-[7px_10px] bg-[#fff] border-[1px] border-[#d9d9d9] rounded-[5px] text-[16px] leading-[calc(24/16)];
  @apply tablet-lg:text-[14px] tablet-lg:leading-[calc(24/14)];
  @apply mobile:text-[14px] mobile:leading-[calc(24/14)];
}

.popup-common-searchprice__menu {
  @apply mx-[-10px];
}

.popup-common-searchprice__menu .ant-dropdown-menu {
  @apply !p-[0] !bg-transparent !border-none;
}

.popup-common-searchprice__menu .ant-dropdown-menu-item {
  @apply !p-[5px_10px] !text-[16px] !leading-[calc(25/16)];
  @apply tablet-lg:text-[14px] tablet-lg:leading-[calc(25/14)];
  @apply mobile:text-[14px] mobile:leading-[calc(25/14)];
}

.popup-common-searchprice__controller {
  @apply m-[11px_-10px_0] flex justify-end gap-[10px];
  @apply tablet-lg:m-[20px_0_0];
  @apply mobile:m-[20px_0_0];
}