.popup-common-searchprice {
  @apply w-[325px] p-[22px_13px_18px] bg-[#fbf8f8] rounded-[10px] border border-[#d9d9d9] shadow-[0_4px_4px_rgba(0,0,0,0.25)];
}

.popup-common-searchprice__range {
  @apply px-[10px];
}

.popup-common-searchprice__range .range-common {
  @apply !m-[14px_6.5px_27px];
}

.popup-common-searchprice__range .range-common__value.range-common__value--start {
  @apply !justify-start;
}

.popup-common-searchprice__range .range-common__value.range-common__value--end {
  @apply !hidden;
}

.popup-common-searchprice__range-label {
  @apply grid grid-cols-2 gap-[26px];
}

.popup-common-searchprice__label-field {
  @apply min-h-[40px] p-[7px_10px] bg-[#fff] border-[1px] border-[#d9d9d9] rounded-[5px] text-[16px] leading-[calc(24/16)];
}