@tailwind base;
@tailwind components;
@tailwind utilities;

body,
header,
main,
footer {
  @apply font-mona text-[#444] text-[16px] font-[400] leading-[calc(29/16)];
  @apply mobile:text-[14px] mobile:leading-[calc(24/14)];
}

input[id^='react-select-'] {
  @apply focus:border-transparent focus:outline-none focus:ring-0;
}

input,select,textarea {
  @apply !font-mona;
}

.container {
  @apply desktop:!w-[calc(100%-60px)] desktop:!max-w-[1420px] desktop:!px-[0px] mobile:!px-[20px];
}

/* Plugin: Ant */
.ant-dropdown,
.ant-modal-root .ant-modal-mask {
  @apply !z-[11000];
}

.ant-modal-root .ant-modal-wrap {
  @apply !z-[11100];
}

/* Plugin: Form */

.ant-input-outlined.ant-input-status-error {
  @apply !border-0 !border-b !shadow-none;
}

/* Plugin: Slick */

.slick-slide {
  @apply !h-full;
}

.slick-slide > div {
  @apply !flex;
}

.slick-track {
  @apply !flex;
}

/* Button */
.button-common-resetfilters {
  @apply text-[16px] leading-[calc(25/16)] font-[600] underline cursor-pointer decoration-[#666] decoration-[2px] underline-offset-[5px];
  @apply tablet-lg:text-[14px] tablet-lg:leading-[calc(25/14)] tablet-lg:decoration-[1px];
  @apply mobile:text-[14px] mobile:leading-[calc(25/14)] mobile:decoration-[1px];
}

/* Pagination */

.pagination-common {
  @apply flex justify-center;
}

.pagination-common .ant-pagination .ant-pagination-item {
  @apply border-[1px] border-[#000] flex justify-center items-center text-[18px] leading-[calc(24/18)] font-semibold;
}

.pagination-common .ant-pagination .ant-pagination-item-active {
  @apply border-[#982220] bg-[#982220];
}

.pagination-common .ant-pagination-item {
  @apply rounded-full hover:!bg-portal-primaryLiving hover:!text-[#fff];
}

.pagination-common .ant-pagination-item:hover a {
  @apply text-[#fff];
}

.pagination-common .ant-pagination-next,
.pagination-common .ant-pagination-prev {
  @apply !bg-transparent hover:!bg-transparent;
}

.pagination-common .ant-pagination-item-link {
  @apply !rounded-full hover:!bg-transparent;
}

/* Navigation */

.navigation-common-page {
  @apply py-[17px] border-b-[1px] border-b-[#d9d9d9] text-[18px] leading-[calc(35/18)] font-[600] text-[#000];
  @apply tablet-lg:py-[15px] tablet-lg:text-[16px] tablet-lg:leading-[calc(24/16)];
  @apply mobile:py-[15px] mobile:text-[12px] mobile:leading-[calc(24/12)];
}

.navigation-common-page .container {
  @apply flex justify-between items-center gap-[15px_20px];
}

.navigation-common-page__wrapper {
  @apply flex flex-wrap gap-[15px_73px];
  @apply tablet-lg:gap-[15px_30px];
  @apply mobile:gap-[10px_15px];
}

.navigation-common-page__entry-wrapper {
  @apply flex;
}

.navigation-common-page__entry-icon {
  @apply w-[24px] h-[35px] mr-[3px] flex-grow-0 flex-shrink-0 bg-[position:50%_50%] bg-no-repeat;
  @apply tablet-lg:w-[20px] tablet-lg:h-[24px] tablet-lg:mr-[5px];
  @apply mobile:w-[20px] mobile:h-[24px] mobile:mr-[5px];
}

.navigation-common-page__additional {
  @apply max-w-[40%] flex flex-wrap flex-grow-0 flex-shrink-0 gap-[24px] items-center;
  @apply tablet-lg:gap-[10px];
  @apply mobile:gap-[10px];
}

.navigation-common-page__additional .button-common-favorite,
.navigation-common-page__additional .button-common-share {
  @apply w-[20px] h-[20px];
  @apply mobile:w-[15px] mobile:h-[15px];
}

/* Map */

.map-common-information {
  @apply pt-[calc(443/816*100%)] relative rounded-[10px] overflow-hidden;
}

.map-common-information>* {
  @apply w-[100%] h-[100%] absolute inset-0;
}

/* Input */

.input-common {
  @apply w-[100%] h-[40px] p-[4.5px_13px_4.5px_19px] border-[1px] border-[#d9d9d9] rounded-[5px] font-mona tablet-lg:text-[16px] tablet-lg:leading-[calc(25/16)];
  @apply tablet-lg:p-[4.5px_9px_4.5px_14px] tablet-lg:text-[14px] tablet-lg:leading-[calc(20/14)];
  @apply mobile:p-[4.5px_9px_4.5px_14px] mobile:text-[14px] mobile:leading-[calc(20/14)];
}

.input-common input::-webkit-input-placeholder,
.input-common input:-moz-placeholder,
.input-common input::-moz-placeholder,
.input-common input:-ms-input-placeholder,
.input-common input::-ms-input-placeholder,
.input-common input::placeholder {
  color: #9a9a9a;
  opacity: 1;
}

.input-common--search {
  @apply pl-[44px] !bg-[url('../../assets/images/common/icon_search_01.svg')] bg-[length:16px_auto] bg-[position:19px_50%] bg-no-repeat;
  @apply tablet-lg:pl-[29px] tablet-lg:bg-[length:15px_auto] tablet-lg:bg-[position:14px_50%];
  @apply mobile:pl-[34px] mobile:bg-[length:15px_auto] mobile:bg-[position:11px_50%];
}

.select-common {
  @apply font-mona text-[16px] leading-[calc(25/16)];
  @apply tablet-lg:text-[14px] tablet-lg:leading-[calc(20/14)];
  @apply mobile:text-[14px] mobile:leading-[calc(20/14)];
}

.select-common .ant-select-selection-placeholder,
.select-common .ant-select-selection-overflow-item,
.select-common .ant-select-selection-item {
  @apply text-[16px] leading-[calc(20/16)];
  @apply tablet-lg:text-[14px] tablet-lg:leading-[calc(20/14)];
  @apply mobile:text-[14px] mobile:leading-[calc(20/14)];
}

.select-common .ant-select-selection-overflow-item {
  @apply rounded-[2px];
}

.select-common .ant-select-selector {
  @apply w-[100%] !min-h-[40px] !p-[1px_13px] !border-[1px] !border-[#d9d9d9] !rounded-[5px];
  @apply tablet-lg:!p-[1px_13px];
  @apply mobile:!p-[1px_9px];
}

.select-common:has(.ant-select-selection-overflow-item-suffix) .ant-select-selector {
  @apply !p-[1px_13px_1px_7px];
  @apply tablet-lg:!p-[1px_13px_1px_7px];
  @apply mobile:!p-[1px_9px_1px_3px];
}

.select-common .anticon.anticon-down.ant-select-suffix {
  @apply !bg-[url('../../assets/images/common/icon_arrow_01.svg')] !bg-[length:100%_auto] bg-center bg-no-repeat;
}

.select-common .anticon.anticon-down.ant-select-suffix > svg {
  @apply !opacity-0;
}

.radio-common {
  @apply !flex !flex-wrap !gap-[4px_46px];
  @apply tablet-lg:!gap-[5px_20px];
  @apply mobile:!gap-[5px_15px];
}

.radio-common .ant-radio-wrapper-in-form-item {
  @apply !m-[0];
}

.radio-common .ant-radio-wrapper {
  @apply !flex !items-start !gap-[0];
}

.radio-common .ant-radio {
  @apply !w-[15px] !h-[15px] !my-[5px] !mr-[6px] !p-[0] !block !border-[1px] !border-[#d9d9d9] relative flex-grow-0 flex-shrink-0 !self-start;
  transition: border 0.3s ease, background 0.3s ease;
}

.radio-common .ant-radio.ant-radio-checked {
  @apply !border-[#982220] !bg-[#982220];
}

.radio-common .ant-radio .ant-radio-inner,
.radio-common .ant-radio .ant-radio-inner::after {
  @apply !w-[100%] !h-[100%] !m-[0] !block !inset-[0];
}

.radio-common .ant-radio .ant-radio-inner {
  @apply !border-transparent !bg-transparent;
}

.radio-common .ant-radio-input {
  @apply !w-[100%] !h-[100%] !m-[0] !opacity-0;
}

.radio-common .ant-radio-label {
  @apply !m-[0] !p-[0] !text-[14px] !leading-[calc(25/14)] !text-[#444];
}

.checkbox-common {
  @apply !grid !grid-cols-2 !gap-[4px_39px];
  @apply tablet-lg:!gap-[5px_20px];
  @apply mobile:!grid-cols-1 mobile:!gap-[5px_15px];
}

.checkbox-common .ant-checkbox-wrapper-in-form-item {
  @apply !m-[0];
}

.checkbox-common .ant-checkbox-wrapper {
  @apply !flex !items-start !gap-[0];
}

.checkbox-common .ant-checkbox {
  @apply !w-[15px] !h-[15px] !my-[5px] !mr-[6px] !p-[0] !block !border-[1px] !border-[#d9d9d9] relative flex-grow-0 flex-shrink-0 !self-start;
  transition: border 0.3s ease, background 0.3s ease;
}

.checkbox-common .ant-checkbox.ant-checkbox-checked {
  @apply !border-[#982220] !bg-[#982220];
}

.checkbox-common .ant-checkbox .ant-checkbox-inner {
  @apply !w-[100%] !h-[100%] !m-[0] !flex justify-center items-center !inset-[0];
}

.checkbox-common .ant-checkbox .ant-checkbox-inner::after {
  @apply !w-[100%] !h-[150%] !border-[4px] !m-[0] !absolute !top-[50%] !left-[50%];
  transform: translate(-50%, -60%) rotate(45deg) scale(0.4) !important;
  transform-origin: 50% 50% !important;
}

.checkbox-common .ant-checkbox .ant-checkbox-inner {
  @apply !border-transparent !bg-transparent;
}

.checkbox-common .ant-checkbox-input {
  @apply !w-[100%] !h-[100%] !m-[0] !opacity-0;
}

.checkbox-common .ant-checkbox-label {
  @apply !m-[0] !p-[0] !text-[14px] !leading-[calc(25/14)] !text-[#444];
}