@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply !font-mona;
}

body,
header,
main,
footer {
  @apply font-mona text-portal-gray-7 text-base font-normal leading-[calc(29/16)];
  @apply mobile:text-sm mobile:leading-[calc(24/14)];
}

input[id^='react-select-'] {
  @apply focus:border-transparent focus:outline-none focus:ring-0;
}

input,select,textarea {
  @apply !font-mona;
}

.container {
  @apply desktop:!w-[calc(100%-60px)] desktop:!max-w-[1420px] desktop:!px-[0px] mobile:!px-[20px];
}

.scrollbar-hidden {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Edge */
}

.ant-checkbox-input {
  @apply hover:!border-portal-primaryLiving;
}

.ant-select-outlined .ant-select-selector {
  @apply hover:!border-portal-primaryLiving focus:!border-portal-primaryLiving focus:!ring-0 focus-within:!border-portal-primaryLiving;
}

.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  @apply !border-portal-primaryLiving;
}

.ant-checkbox-checked .ant-checkbox-inner {
  @apply !bg-portal-primaryLiving !border-portal-primaryLiving;
}

.rc-virtual-list-scrollbar.rc-virtual-list-scrollbar-vertical {
  @apply bg-portal-gray-border !w-[3px];
}

.rc-virtual-list-scrollbar-thumb {
  @apply !bg-portal-primaryLiving !w-[7px] !left-[-2.5px];
}

.Modal-Portal .datepicker-modal {
  @apply !z-[999999];
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari */
}

/* Plugin: Ant */

.ant-popover,
.ant-dropdown,
.ant-modal-root .ant-modal-mask {
  @apply !z-[11000] !font-mona;

}

.ant-modal-root .ant-modal-wrap {
  @apply !z-[11100];
}

.ant-popover .ant-popover-inner {
  @apply !max-w-[824px] !p-[20px_25px_25px] !bg-[#fbf8f8] !rounded-[10px] !border !border-[#d9d9d9] !shadow-[0_4px_4px_rgba(0,0,0,0.25)];
  @apply tablet-lg:!w-[100%] tablet-lg:!p-[19px];
  @apply mobile:!w-[100%] mobile:!p-[19px];
}

.ant-popover .ant-popconfirm-buttons {
  @apply !mt-[27px] !flex !justify-end !gap-[10px];
  @apply tablet-lg:!mt-[20px];
  @apply mobile:!mt-[20px];
}

.ant-popover .ant-btn {
  @apply !h-[auto] !min-h-[40px] !m-[0px] !p-[6.5px_18px] !bg-[#982220] !border-[1px] !border-[#982220] !rounded-[5px] flex justify-center items-center !text-[16px] !leading-[calc(25/16)] !font-[600] !text-[#fff] transition-[background_color] duration-300 ease-in-out;
  @apply tablet-lg:!text-[14px] tablet-lg:!leading-[calc(25/14)];
  @apply mobile:!text-[14px] mobile:!leading-[calc(25/14)];
}

.ant-popover .ant-btn:not(:disabled):hover {
  @apply !bg-[#fff] !border-[#982220] !text-[#982220];
}

.ant-popover .ant-btn.ant-btn-color-default {
  @apply !bg-[#fff] !text-[#982220];
}

.ant-popover .ant-btn.:not(:disabled):hover {
  @apply !bg-[#982220] !border-[#982220] !text-[#fff];
}

.ant-select-dropdown {
  @apply !p-[19px_22px] !bg-[#fbf8f8] !rounded-[10px] !border border-[#d9d9d9] !shadow-[0_4px_4px_rgba(0,0,0,0.25)];
  @apply tablet-lg:!p-[19px];
  @apply mobile:!p-[19px];
}

.ant-select-dropdown .rc-virtual-list {
  @apply mx-[-10px];
}

.ant-select-dropdown .rc-virtual-list .rc-virtual-list-holder-inner {
  @apply gap-[0px];
}

.ant-select-dropdown .rc-virtual-list .ant-select-item {
  @apply !p-[5px_10px] !text-[16px] !leading-[calc(25/16)];
  @apply tablet-lg:text-[14px] tablet-lg:leading-[calc(25/14)];
  @apply mobile:text-[14px] mobile:leading-[calc(25/14)];
}

.ant-select-item.ant-select-item-option.ant-select-item-option-selected {
  @apply !bg-[#982220] !text-[#fff];
}


/* Plugin: Form */

.ant-input-outlined.ant-input-status-error {
  @apply !border-0 !border-b !shadow-none;
}

/* Plugin: Slick */

.slick-slide {
  @apply !h-full;
}

.slick-slide > div {
  @apply !flex;
}

.slick-track {
  @apply !flex;
}

.slick-arrow {
  @apply !w-[54px] !h-[54px] !border-[2px] !border-solid !border-[rgba(215,224,231,0.5)] !rounded-[50%] z-10 !opacity-100 !shadow-none !filter-none !bg-[rgba(255,255,255,0.5)] !bg-[url('../../assets/images/common/icon_arrow_05.svg')] !bg-[length:calc(100%+4px)_auto] !bg-[position:50%_50%] !bg-no-repeat !transition-[border] !duration-300 !ease-in-out;
  @apply tablet-md:!hidden;
  @apply mobile:!hidden;
}

.slick-arrow:hover {
  @apply !border-[rgba(215,224,231,1)];
}

.slick-arrow::after {
  @apply !hidden;
}

.slick-arrow.slick-next {
  @apply !right-[-70px];
  @apply laptop-md:!right-[-10px];
}

.slick-arrow.slick-prev {
  @apply rotate-180 -translate-y-1/2 !left-[-70px];
  @apply laptop-md:!left-[-10px];
}

/* Button */

.button-common {
  @apply p-[1px_18px_3px] bg-portal-primaryLiving border-[1px] border-portal-primaryLiving rounded-[5px] inline-flex justify-center items-center text-base leading-[calc(25/16)] font-semibold text-white transition-[background_color] duration-300 ease-in-out;
  @apply tablet-lg:text-sm tablet-lg:leading-[calc(25/14)];
  @apply mobile:text-sm mobile:leading-[calc(25/14)];
}

.button-common:not(:disabled):hover {
  @apply !bg-white !border-portal-primaryLiving !text-portal-primaryLiving;
}

.button-common--reset {
  @apply bg-white text-portal-primaryLiving;
}

.button-common--reset:not(:disabled):hover {
  @apply !bg-portal-primaryLiving !border-portal-primaryLiving !text-white;
}

.button-common-resetfilters {
  @apply text-base leading-[calc(25/16)] font-semibold underline cursor-pointer decoration-[#666] decoration-[2px] underline-offset-[5px];
  @apply tablet-lg:text-sm tablet-lg:leading-[calc(25/14)] tablet-lg:decoration-[1px];
  @apply mobile:text-sm mobile:leading-[calc(25/14)] mobile:decoration-[1px];
}

.button-common-searchadvanced {
  @apply w-[100%] min-h-[40px] flex justify-between items-center p-[6.5px_9px_6.5px_14px] border-[1px] border-[#97282b] bg-[#f6cac9] rounded-[5px] font-mona text-base leading-[calc(25/16)];
  @apply tablet-lg:p-[4px_13px] tablet-lg:text-sm tablet-lg:leading-[calc(20/14)];
  @apply mobile:p-[4px_9px] mobile:text-sm mobile:leading-[calc(20/14)];
}

.button-common-searchadvanced::after {
  content: "";
  @apply w-[12px] h-[12px] ml-[5px] bg-[url('../../assets/images/common/icon_arrow_01.svg')] bg-[length:100%_auto] bg-center bg-no-repeat block flex-grow-0 flex-shrink-0;
}

/* Pagination */

.pagination-common {
  @apply flex justify-center;
}

.pagination-common .ant-pagination .ant-pagination-item {
  @apply border-[1px] border-black flex justify-center items-center text-[18px] leading-[calc(24/18)] font-semibold;
}

.pagination-common .ant-pagination .ant-pagination-item-active {
  @apply border-portal-primaryLiving bg-portal-primaryLiving;
}

.pagination-common .ant-pagination-item {
  @apply rounded-full hover:!bg-portal-primaryLiving hover:!text-white;
}

.pagination-common .ant-pagination-item:hover a {
  @apply text-white;
}

.pagination-common .ant-pagination-next,
.pagination-common .ant-pagination-prev {
  @apply !bg-transparent hover:!bg-transparent;
}

.pagination-common .ant-pagination-item-link {
  @apply !rounded-full hover:!bg-transparent;
}

:where(.css-dev-only-do-not-override-xte9v4).ant-pagination .ant-pagination-item {
  @apply mobile:!min-w-[24px] mobile:!h-[24px];
}

:where(.css-dev-only-do-not-override-xte9v4).ant-pagination .ant-pagination-item a {
  @apply mobile:!text-sm mobile:!leading-[calc(20/14)];
}

.pagination-common .ant-pagination-next,
.pagination-common .ant-pagination-prev {
  @apply mobile:!min-w-[24px] mobile:!h-[24px];
}

.pagination-common .ant-pagination-item-link {
  @apply mobile:!flex mobile:justify-center mobile:items-center;
}

/* Navigation */

.navigation-common-page {
  @apply py-[17px] border-b-[1px] border-b-[#d9d9d9] text-[18px] leading-[calc(35/18)] font-semibold text-black;
  @apply tablet-lg:py-[15px] tablet-lg:text-base tablet-lg:leading-[calc(24/16)];
  @apply mobile:py-[15px] mobile:text-[12px] mobile:leading-[calc(24/12)];
}

.navigation-common-page .container {
  @apply flex justify-between items-center gap-[15px_20px];
}

.navigation-common-page__wrapper {
  @apply flex flex-wrap gap-[15px_73px];
  @apply tablet-lg:gap-[15px_30px];
  @apply mobile:gap-[10px_15px];
}

.navigation-common-page__entry-wrapper {
  @apply flex;
}

.navigation-common-page__entry-icon {
  @apply w-[24px] h-[35px] mr-[3px] flex-grow-0 flex-shrink-0 bg-[position:50%_50%] bg-no-repeat;
  @apply tablet-lg:w-[20px] tablet-lg:h-[24px] tablet-lg:mr-[5px];
  @apply mobile:w-[20px] mobile:h-[24px] mobile:mr-[5px];
}

.navigation-common-page__additional {
  @apply max-w-[40%] flex flex-wrap flex-grow-0 flex-shrink-0 gap-[24px] items-center;
  @apply tablet-lg:gap-[10px];
  @apply mobile:gap-[10px];
}

.navigation-common-page__additional .button-common-favorite,
.navigation-common-page__additional .button-common-share {
  @apply w-[20px] h-[20px];
  @apply mobile:w-[15px] mobile:h-[15px];
}

/* Table */

.table-common-result {
  @apply grid grid-cols-2 gap-[30px_29px];
  @apply tablet-lg:gap-[20px];
  @apply mobile:grid-cols-1 mobile:gap-[20px];
}

.table-common-result--sale {
  @apply desktop:grid-cols-2 desktop:gap-[30px_29px];
}

.table-common-result--rent {
  @apply desktop:grid-cols-4 desktop:gap-[15px_30px];
  @apply tablet-lg:grid-cols-2 tablet-lg:gap-[20px];
}

/* Map */

.map-common-information {
  @apply pt-[calc(443/816*100%)] relative rounded-[10px] overflow-hidden;
}

.map-common-information>* {
  @apply w-[100%] h-[100%] absolute inset-0;
}

/* Form */

.form-common-listing {
  @apply font-mona;
}

.form-common-listing__wrapper {
  @apply flex flex-col gap-[10px];
}

.form-common-listing__entry {
  @apply min-h-[40px];
}

.form-common-listing__entry--basic {
  @apply py-[0] border-b-[0px];
}

.form-common-listing__entry--end {
  @apply pb-[0] border-b-[0px];
}

.form-common-listing__entry--end .form-common-listing__entry-wrapper {
  @apply w-[100%] flex flex-col gap-[10px];
  @apply tablet-lg:gap-[5px];
  @apply mobile:gap-[5px];
}

.form-common-listing__entry--basic .form-common-listing__entry-wrapper {
  @apply w-[100%] flex flex-col gap-[15px];
  @apply tablet-lg:gap-[5px];
  @apply mobile:gap-[5px];
}

.form-common-listing__entry--stacked .form-common-listing__entry-wrapper {
  @apply w-[100%] flex flex-col gap-[10px];
  @apply tablet-lg:gap-[5px];
  @apply mobile:gap-[5px];
}

.form-common-listing__entry--wrapping,
.form-common-listing__entry--range {
  @apply flex flex-row gap-[10px] justify-between items-center;
}

.form-common-listing__entry--wrapping .form-common-listing__entry-label,
.form-common-listing__entry--range .form-common-listing__entry-label{
  @apply w-[30%] m-[0] flex-grow-0 flex-shrink-0;
  @apply tablet-md:w-[35%];
  @apply mobile:w-[35%];
}

.form-common-listing__entry--range .form-common-listing__entry-wrapper {
  @apply max-w-[240px] flex-1;
}

.form-common-listing__entry-label {
  @apply mb-[3px] block text-base leading-[calc(25/16)] font-[700];
  @apply tablet-lg:mb-[5px] tablet-lg:text-sm tablet-lg:leading-[calc(25/14)];
  @apply mobile:mb-[5px] mobile:text-sm mobile:leading-[calc(25/14)];
}

.form-common-listing__entry-item {
  @apply !m-[0px];
}

.form-common-listing__entry-item .ant-form-item-control-input {
  @apply !min-h-[auto];
}

.form-common-listing__controller {
  @apply mt-[26px] flex flex-wrap justify-center gap-[10px_24px];
  @apply tablet-lg:mt-[30px] tablet-lg:gap-[5px_20px] tablet-lg:items-center;
  @apply mobile:mt-[30px] mobile:gap-[5px_15px] mobile:items-center;
}

.form-common-listing__controller .button-common-resetfilters {
  @apply mobile:mb-[10px]
}

.form-common-listing__controller .button-common-core {
  @apply mobile:w-[100%] mobile:max-w-[none];
}

/* Input */

.input-common {
  @apply w-[100%] h-[40px] p-[4.5px_13px_4.5px_19px] border-[1px] border-[#d9d9d9] rounded-[5px] font-mona tablet-lg:text-base tablet-lg:leading-[calc(25/16)];
  @apply tablet-lg:p-[4.5px_9px_4.5px_14px] tablet-lg:text-sm tablet-lg:leading-[calc(20/14)];
  @apply mobile:p-[4.5px_9px_4.5px_14px] mobile:text-sm mobile:leading-[calc(20/14)];
}

.input-common input::-webkit-input-placeholder,
.input-common input:-moz-placeholder,
.input-common input::-moz-placeholder,
.input-common input:-ms-input-placeholder,
.input-common input::-ms-input-placeholder,
.input-common input::placeholder {
  color: #9a9a9a;
  opacity: 1;
}

.input-common--search {
  @apply pl-[44px] !bg-[url('../../assets/images/common/icon_search_01.svg')] bg-[length:16px_auto] bg-[position:19px_50%] bg-no-repeat;
  @apply tablet-lg:pl-[29px] tablet-lg:bg-[length:15px_auto] tablet-lg:bg-[position:14px_50%];
  @apply mobile:pl-[34px] mobile:bg-[length:15px_auto] mobile:bg-[position:11px_50%];
}

.select-common {
  @apply font-mona text-base leading-[calc(25/16)];
  @apply tablet-lg:text-sm tablet-lg:leading-[calc(20/14)];
  @apply mobile:text-sm mobile:leading-[calc(20/14)];
}

.select-common .ant-select-selection-placeholder,
.select-common .ant-select-selection-overflow-item,
.select-common .ant-select-selection-item {
  @apply text-base leading-[calc(20/16)];
  @apply tablet-lg:text-sm tablet-lg:leading-[calc(20/14)];
  @apply mobile:text-sm mobile:leading-[calc(20/14)];
}

.select-common .ant-select-selection-overflow-item {
  @apply rounded-[2px];
}

.select-common .ant-select-selector {
  @apply w-[100%] !min-h-[40px] !p-[1px_13px] !border-[1px] !border-[#d9d9d9] !rounded-[5px];
  @apply tablet-lg:!p-[1px_13px];
  @apply mobile:!p-[1px_9px];
}

.select-common:has(.ant-select-selection-overflow-item-suffix) .ant-select-selector {
  @apply !p-[1px_13px_1px_7px];
  @apply tablet-lg:!p-[1px_13px_1px_7px];
  @apply mobile:!p-[1px_9px_1px_3px];
}

.select-common .anticon.anticon-down.ant-select-suffix {
  @apply !bg-[url('../../assets/images/common/icon_arrow_01.svg')] !bg-[length:100%_auto] bg-center bg-no-repeat;
}

.select-common .anticon.anticon-down.ant-select-suffix > svg {
  @apply !opacity-0;
}

.select-common--type .ant-select-selector {
  @apply !border-[#97282b] !bg-[#f6cac9];
}

.select-common-sortby {
  @apply flex gap-[23px];
  @apply tablet-lg:gap-[10px];
  @apply mobile:gap-[10px];
}

.select-common-sortby__control .ant-select-selector,
.select-common-sortby__control.ant-select-outlined:not(.ant-select-customize-input) .ant-select-selector {
  @apply w-[100%] !min-h-[40px] !p-[0px] !border-[0px] !bg-transparent !rounded-none;
}

.select-common-sortby__control .ant-select-selection-item {
  @apply !pr-[20px] font-mona text-[16px] leading-[calc(25/16)] font-[600] text-[#982220];
  @apply tablet-lg:text-[14px] tablet-lg:leading-[calc(20/14)];
  @apply mobile:text-[14px] mobile:leading-[calc(20/14)];
}

.select-common-sortby__control  .ant-select-arrow {
  @apply !right-[0];
}

.select-common-sortby__control .anticon.anticon-down.ant-select-suffix {
  @apply !bg-[#982220];
  mask: url('../../assets/images/common/icon_arrow_01.svg') 50% 50% / 100% auto no-repeat;
}

.select-common-sortby__control .anticon.anticon-down.ant-select-suffix > svg {
  @apply !opacity-0;
}

.select-common-sortby__label {
  @apply py-[7.5px] flex items-start relative text-base leading-[calc(25/16)];
  @apply tablet-lg:py-[10px] tablet-lg:text-sm tablet-lg:leading-[calc(20/14)];
  @apply mobile:py-[10px] mobile:text-sm mobile:leading-[calc(20/14)];
}

.select-common-sortby__label::before {
  content: "";
  @apply w-[7px] h-[7px] my-[9px] mr-[9px] bg-[#9a9a9a] rounded-[50%] flex-grow-0 flex-shrink-0;
  @apply tablet-lg:w-[5px] tablet-lg:h-[5px] tablet-lg:my-[7.5px] tablet-lg:mr-[10px];
  @apply mobile:w-[5px] mobile:h-[5px] mobile:my-[7.5px] mobile:mr-[10px];
}

.switch-common-map {
  @apply min-h-[40px] flex justify-between items-center p-[6.5px_14px_6.5px_16px] border-[1px] border-[#d9d9d9] bg-white rounded-[5px] font-mona text-base leading-[calc(25/16)];
  @apply tablet-lg:p-[4px_13px] tablet-lg:text-sm tablet-lg:leading-[calc(20/14)];
  @apply mobile:p-[4px_9px] mobile:text-sm mobile:leading-[calc(20/14)];
}

.switch-common-map__label {
  @apply mr-[12px];
}

.switch-common-map__control {
  @apply !w-[32px] !min-w-[auto] !h-[15px] !min-h-[auto] !m-[0] !p-[0] !border-[1px] !border-[#c2c2c2] !rounded-[99999px];
}

.switch-common-map__control .ant-switch-handle {
  @apply !w-[13px] !h-[13px] !top-[1px];
  inset-inline-start: 1px !important;
}

.switch-common-map__control .ant-switch-handle::before {
  @apply !bg-portal-primaryLiving !shadow-none;
}

.switch-common-map__control .ant-switch-inner {
  @apply !w-[100%] !min-w-[auto] !h-[100%] !min-h-[auto] !border-none !bg-[#d9d9d9] !m-[0] !p-[0] !rounded-[99999px];
}

.switch-common-map__control .ant-switch-inner * {
  @apply !w-[100%] !min-w-[auto] !h-[100%] !min-h-[auto] !m-[0] !p-[0] !hidden;
}

.switch-common-map__control.ant-switch-checked .ant-switch-handle {
  inset-inline-start: calc(100% - 14px) !important;
}

.radio-common {
  @apply !flex !flex-wrap !gap-[4px_46px];
  @apply tablet-lg:!gap-[5px_20px];
  @apply mobile:!gap-[5px_15px];
}

.radio-common .ant-radio-wrapper-in-form-item {
  @apply !m-[0];
}

.radio-common .ant-radio-wrapper {
  @apply !flex !items-start !gap-[0];
}

.radio-common .ant-radio {
  @apply !w-[15px] !h-[15px] !my-[5px] !mr-[6px] !p-[0] !block !border-[1px] !border-[#d9d9d9] !bg-white relative flex-grow-0 flex-shrink-0 !self-start;
  transition: border 0.3s ease, background 0.3s ease;
}

.radio-common .ant-radio.ant-radio-checked {
  @apply !border-portal-primaryLiving !bg-portal-primaryLiving;
}

.radio-common .ant-radio .ant-radio-inner,
.radio-common .ant-radio .ant-radio-inner::after {
  @apply !w-[100%] !h-[100%] !m-[0] !block !inset-[0];
}

.radio-common .ant-radio .ant-radio-inner {
  @apply !border-transparent !bg-transparent;
}

.radio-common .ant-radio-input {
  @apply !w-[100%] !h-[100%] !m-[0] !opacity-0;
}

.radio-common .ant-radio-label {
  @apply !m-[0] !p-[0] !text-sm !leading-[calc(25/14)] !text-portal-gray-7;
}

.checkbox-common {
  @apply !grid !grid-cols-2 !gap-[4px_39px];
  @apply tablet-lg:!gap-[5px_20px];
  @apply mobile:!grid-cols-1 mobile:!gap-[5px_15px];
}

.checkbox-common .ant-checkbox-wrapper-in-form-item {
  @apply !m-[0];
}

.checkbox-common .ant-checkbox-wrapper {
  @apply !flex !items-start !gap-[0];
}

.checkbox-common .ant-checkbox {
  @apply !w-[15px] !h-[15px] !my-[5px] !mr-[6px] !p-[0] !block !border-[1px] !border-[#d9d9d9] !bg-white relative flex-grow-0 flex-shrink-0 !self-start;
  transition: border 0.3s ease, background 0.3s ease;
}

.checkbox-common .ant-checkbox.ant-checkbox-checked {
  @apply !border-portal-primaryLiving !bg-portal-primaryLiving;
}

.checkbox-common .ant-checkbox .ant-checkbox-inner {
  @apply !w-[100%] !h-[100%] !m-[0] !flex justify-center items-center !inset-[0];
}

.checkbox-common .ant-checkbox .ant-checkbox-inner::after {
  @apply !w-[100%] !h-[150%] !border-[4px] !m-[0] !absolute !top-[50%] !left-[50%];
  transform: translate(-50%, -60%) rotate(45deg) scale(0.4) !important;
  transform-origin: 50% 50% !important;
}

.checkbox-common .ant-checkbox .ant-checkbox-inner {
  @apply !border-transparent !bg-transparent;
}

.checkbox-common .ant-checkbox-input {
  @apply !w-[100%] !h-[100%] !m-[0] !opacity-0;
}

.checkbox-common .ant-checkbox-label {
  @apply !m-[0] !p-[0] !text-sm !leading-[calc(25/14)] !text-portal-gray-7;
}

.ant-modal-close {
  @apply !top-[32px] !right-[32px];
}