.section-ban {
  @apply pt-[18px] pb-[73px] bg-[length:100%_406px] bg-[position:0%_0%] bg-no-repeat;
  @apply tablet-lg:pt-[15px] tablet-lg:bg-[length:100%_400px];
  @apply mobile:pt-[10px] mobile:bg-[length:100%_400px];
  background-image: linear-gradient(to top, #f5f5f5, #f5f5f5);
}

.section-ban__title {
  @apply mb-[31px] text-[30px] leading-[calc(38/30)] font-[600] text-[#000];
  @apply tablet-lg:mb-[30px] tablet-lg:text-[24px] tablet-lg:leading-[calc(32/24)];
  @apply mobile:mb-[30px] mobile:text-[20px] mobile:leading-[calc(32/20)];
}

.section-ban__title strong {
  @apply font-[600] text-[#982220];
}