.block-common-listingsale {
  @apply flex gap-[31px];
  @apply tablet-lg:gap-[20px_30px];
  @apply tablet-md:flex-col;
  @apply mobile:flex-col mobile:gap-[20px_30px];
}

.block-common-listingsale__wrapper {
  @apply flex-1;
}

.block-common-listingsale__title {
  @apply mt-[-5px] mb-[21px] block text-[30px] leading-[calc(39/30)] font-[600] text-[#000];
  @apply tablet-lg:mt-[0] tablet-lg:mb-[20px] tablet-lg:text-[24px] tablet-lg:leading-[calc(32/24)];
  @apply mobile:mt-[0] mobile:mb-[20px] mobile:text-[20px] mobile:leading-[calc(30/20)];
}

.block-common-listingsale .pagination-common {
  @apply mt-[44px];
  @apply tablet-lg:mt-[30px];
  @apply mobile:mt-[30px];
}