.gm-style-iw.gm-style-iw-c {
  padding-left: 0;
}

.gm-style-iw .gm-style-iw-d {
  overflow-y: hidden !important;

  .marker-popup {
    height: auto;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.25rem 0.25rem;
    gap: 0.25rem;

    .thumbnail-wrapper {
      img {
        width: 100%;
      }
    }

    .marker-popup-title {
      font-weight: bold;
    }
  }
}

.gm-style-iw-chr{
  height: 0px;
}
.gm-style-iw-chr button {
  display: none !important;
}

