.block-common-listingrent {
  @apply block;
  @apply tablet-lg:gap-[20px_30px];
  @apply tablet-md:flex-col;
  @apply mobile:flex-col mobile:gap-[20px_30px];
}

.block-common-listingrent__wrapper {
  @apply p-[32px_0_64px];
  @apply tablet-lg:p-[30px_0_60px];
  @apply mobile:p-[30px_0_60px];
}

.block-common-listingrent .pagination-common {
  @apply mt-[36px];
  @apply tablet-lg:mt-[30px];
  @apply mobile:mt-[30px];
}