.block-common-listingrent {
  @apply block;
  @apply tablet-lg:gap-[20px_30px];
  @apply tablet-md:flex-col;
  @apply mobile:flex-col mobile:gap-[20px_30px];
}

.block-common-listingrent__wrapper {
  @apply p-[32px_0_64px];
  @apply tablet-lg:p-[30px_0_60px];
  @apply mobile:p-[30px_0_60px];
}

.block-common-listingrent__filter {
  @apply p-[13px_0_16px] bg-[#f5f5f5];
  @apply tablet-lg:p-[10px_0];
  @apply mobile:p-[10px_0_20px];
}

.block-common-listingrent__filter-wrapper {
  @apply flex items-center gap-[50px];
  @apply mobile:flex-col mobile:gap-[30px];
}

.block-common-listingrent__filter-wrapper .sidebar-common-rent {
  @apply max-w-[1210px] flex-1;
  @apply mobile:w-[100%];
}

.block-common-listingrent__filter-analyze {
  @apply mt-[25px] flex flex-wrap gap-[11px];
  @apply tablet-lg:mt-[10px] tablet-lg:gap-[10px];
  @apply mobile:mt-[10px] mobile:gap-[10px] mobile:justify-center;
}

.block-common-listingrent__analyze-label {
  @apply py-[7.5px] text-[16px] leading-[calc(25/16)];
  @apply tablet-lg:py-[10px] tablet-lg:text-[14px] tablet-lg:leading-[calc(20/14)];
  @apply mobile:py-[10px] mobile:text-[14px] mobile:leading-[calc(20/14)];
}

.block-common-listingrent .pagination-common {
  @apply mt-[36px];
  @apply tablet-lg:mt-[30px];
  @apply mobile:mt-[30px];
}